<h1><%= @post.title %></h1>
<p>Post id: <%= @post.id %></p>
<p>Text: <%= @post.text %></p>
<p>Comments:<%= @post.comments_counter %></p>
<p>Created at: <%= @post.created_at %></p>
<p>Updated at: <%= @post.updated_at %></p>
<p>Author id: <%= @post.author_id %></p>

